.rouge {
    background-color: royalblue;
    color: white;
    width: auto;
    height: auto;
    
    
  }
body{
    font-family: 'Montserrat', sans-serif;
    }
/*
HEADER
*/
.header {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    height: 70px;
    line-height: 70px;
    background-color:rgba(0, 0, 0, 0);
    position:fixed;
    top: 0;
    
}

.header .header-logo{
    color:white;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 300px;
    width: 50%;
    font-size: 2em;
    margin-bottom: 100px;
}


.header .header-menu{
    float: right;
    margin-right: 30px;
}

.header .header-menu a {
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

.header .header-menu a:hover{
    color:dodgerblue;
}

.header.sticky{
    background-color:black;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px brown;
}

.header .header-logo span{
    color: brown;
    font-size: 2em;
}

.header .header-menu a:hover{
    letter-spacing: 2px;
}
/*
BANNER
*/
.image1{
    width: 100%;
}
.banner .banner-image {
    position:relative;
    
}
.banner .banner-content {
    position:absolute;
    width: 100%;
    text-align: center;
    top: 20%;
}

/*
ABOUT
*/
.about .about-single-element .icon{
    font-size: 60px;
    text-align: center;
}

.about .about-single-element{
    text-align: center;
    font-family: 'Birthstone', cursive;

    font-family: 'Gideon Roman', cursive;
    margin-top: 20px;
}
.about .about-single-element p{
    margin-top: 20px;
}

.titre2{
    text-align: center;
    width: 100%;
    margin-top: 30px;
}
.titre2 span{
    color:brown;
    font-size: 1.5em;
}
.img-thumbnail-3{
    width: 100%;
}

.img-thumbnail-2{
    width: 50%;
    margin-top: 30px;
}

/*
A PROPOS
*/

.section{
    padding: 100px;
}
.col span{
    color: peru;
    font-size: 2em;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col  h2{
    margin-top: 100px;
}

.texte2 {
    font-size: 2em;
    
}

.col img {
    margin-top: 100px;
    margin-left: 100px;
    height: 450px;
}
 .photo img{
    width: 70%;
    margin-right: 600px;
}

.texte3 {
    font-size: 2em;
    margin-left: 20px;
}

.titre3 {
    text-align: center;
    margin-top: 100px;
}
.titre3 span{
    color: brown;
    font-size: 1.5em;
}